* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .container {
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 10rem;
  } 
  h1 {
    color: #00b8c2;
  }
  h3 {
    font-size: 2.5rem;
  }
  
  p {
    font-size: 1.6rem;
  }
  
  a {
    text-decoration: none;
  }
  .btn {
    border-radius: 3rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .btn-branco {
    color: #00929a;
    background-color: white;
  }
  
  .btn-azul {
    color: #00929a;
    border: 1px solid #00929a;
  }
  .u-margin-bottom-peq {
    margin-bottom: 2rem;
  }
  .banner {
    background: url(../img/lari.jpg) center no-repeat;
    background-size: cover;
    height: 90vh;
    text-align: center;
    padding-top: 20rem;
    color: white;
  }
  
  .banner__titulo {
    font-size: 5rem;
  }
  .banner__subtitulo {
    font-size: 2.3rem;
  }

  .sobre__titulo {
    font-size: 4rem;
    color: #00929a;
  }
  
  .sobre-descricao,
  .sobre-habilidades {
    width: 40%;
    display: inline-block;
    line-height: 1.5;
  }
  
  .sobre-descricao__destaque {
    font-size: 2rem;
  }
  
  .sobre-habilidades__titulo {
    font-size: 2.8rem;
  }
  
  .sobre-habilidades {
    margin-left: 20rem;
  }
  
  .sobre-habilidades__lista {
    padding-left: 2rem;
    line-height: 2;
    font-size: 1.6rem;
  }
  
  .sobre-descricao__texto {
    font-size: 1.8rem;
  }
  .footer {
    text-align: center;
  }
  
  .redes-sociais__link {
    display: inline-block;
    width: 20%;
    background-color: #00929a;
    padding: 2rem 0;
    margin: 0 1rem;
    text-align: center;
    color: white;
  }
  
  .redes-sociais__img, .redes-sociais__titulo {
    margin-bottom: .5rem;
  }
  
  .footer__copy-texto {
    color: #00929a;
    font-weight: lighter;
    margin-top: 3rem;
    padding: 1rem;
  }
    
  
  
